name: Deploy PR to R2 bucket

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write # Required for OIDC
  pull-requests: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm ci
      - run: npm run build

      - name: Upload to R2
        run: |
          PR_NUMBER=${{ github.event.pull_request.number || '1' }}

          npx wrangler r2 object put \
            skygame-data/assets/${PR_NUMBER}-everything.json \
            --file=./assets/everything.json --remote
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Comment on PR
        if: github.event.action == 'opened'
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}
          gh pr comment $PR_NUMBER --body "Preview: https://sandbox.sky-planner.com/?dataUrl=${PR_NUMBER}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
